<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Užsakymo informacija</title>
</head>
<body>
<h1>Užsakymas: <span th:text="${order.orderName}">Pavadinimas</span></h1>
<p><strong>Bendra kvadratūra:</strong> <span th:text="${#numbers.formatDecimal(totalArea, 0, 2)}"/> m²</p>


<h2>Detalės grupės:</h2>
<ul>
    <li th:each="group : ${order.partGroups}">
        Grupė: <span th:text="${group.material}"/> - <span th:text="${group.paintColor}"/>
        <ul>
            <li th:each="part : ${group.parts}">
                Detalė: <span th:text="${part.length}"/>x<span th:text="${part.width}"/>
            </li>
        </ul>
    </li>
</ul>

<h2>Darbo logai:</h2>
<ul>
    <li th:each="log : ${order.workLogs}">
        <span th:text="${log.description}"/>
    </li>
</ul>
</body>
</html>
